div {
    text-align: left;
    color: black;
    display: block;
    height: 200px;
    width: 100%;
}
.one {
    font-size: 25px;
    background-color: white;
    
}
.borderstyle {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: black;
}