@page "/"
@page "/homepage"

    
<body>
    <h1 style="text-align:center;">Welcome User to FoodieTwoShoes!</h1>
    <br />
    <br />

    <div>
        <div class="one borderstyle">
            <p> From this app, you can deliver food from up and coming businesses straight to your doorstep </p>
                <br />
            <p> Choose a food and drink from our 4 partnerned businessess </p>
            

        </div>
        <div>
            <p>Change to drop down list</p> <button onclick="Button_click" value="Submit">Go</button> 
            <br />
            <button onclick="Button_click" value="Submit">Feeling lucky?</button>
        </div>
    </div>

</body>
