@page "/restaurantpage"


<h3>Restaurant Page</h3>

<div class="parent">

    <div class="chineseFood style">
        <p>This restaurant sells Chinese food <br />Go to their menu here </p>
        <button onclick="Button_click" value="Submit">Go to menu</button>
    </div>

    <div class="malayFood style">
        <p>This restaurant sells Malay food <br /> Go to their menu here!</p>
        <button onclick="Button_click" value="Submit">Go to menu</button>
    </div>

    <div class="japaneseFood style">
        <p>This restaurant sells Japanese food <br /> Go to their menu here!</p>
        <button onclick="Button_click" value="Submit">Go to menu</button>
    </div>

    <div class="thaiFood style">
        <p>This restaurant sells Thai food <br /> Go to their menu here!</p>
        <button onclick="Button_click" value="Submit">Go to menu</button>
    </div>


</div>


@code {

}
